/* Conteneur principal de prévisions */
.forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #ffcccc, #a6c9ff);
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box; /* Permet de mieux gérer les marges et le padding */
  overflow: hidden; /* Empêche le débordement de la page */
}

/* Titres de section */
.forecast-container h1,
.forecast-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
  color: #2d0606;
}

/* Prévisions quotidiennes avec scroll horizontal */
.daily-forecast {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: auto; /* Permet le défilement horizontal */
  padding-bottom: 10px; /* Espace sous les prévisions pour éviter que la barre de défilement touche les éléments */
}

.forecast-card {
  text-align: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 180px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.forecast-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.forecast-card img.forecast-icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

/* Prévisions horaires avec scroll horizontal */
.hourly-forecast {
  margin-top: 40px;
  width: 100%;
  overflow-x: auto; /* Permet le défilement horizontal */
  padding-bottom: 10px; /* Espace sous les prévisions pour éviter que la barre de défilement touche les éléments */
}

.hourly-list {
  display: flex;
  justify-content: flex-start; /* Alignement à gauche */
  gap: 10px;
  flex-wrap: nowrap; /* Empêche les éléments de se répartir sur plusieurs lignes */
}

.hourly-card {
  text-align: center;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 180px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hourly-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.hourly-card img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.hourly-card p {
  margin: 10px 0;
  font-size: 10px; /* Ajuste la taille du texte si nécessaire */
  white-space: nowrap; /* Assure que le texte reste sur une seule ligne */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
  overflow: hidden; /* Gère le texte qui dépasse */
}
