/* home.css */
.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #ffcccc, #a6c9ff); /* Dégradé du rouge clair au bleu clair */
  padding: 20px;
  min-height: 100vh; /* Assure que le dégradé couvre toute la hauteur de la page */
}


.preferred-cities-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#preferred-cities-select {
  margin-top: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
