/* home.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #ffcccc, #a6c9ff); /* Dégradé du rouge clair au bleu clair */
  min-height: 100vh; /* Assure que le dégradé couvre toute la hauteur de la page */
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto; /* Centré verticalement avec un espacement plus grand */
  width: 100%; /* Prend toute la largeur disponible */
  max-width: 400px; /* Limite la largeur pour éviter qu'elle ne devienne trop grande */
  padding: 20px; /* Ajoute un peu d'espace interne autour du contenu */
  box-sizing: border-box; /* Inclut padding dans la largeur totale */
  position: relative; /* Permet de gérer le z-index */
}

.search-input-wrapper {
  position: relative; /* Assure que l'input prend en compte l'icône */
  width: 100%; /* Assure que l'input prend toute la largeur disponible */
}

.search-input {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #a6c9ff;
  border-radius: 5px;
  outline: none;
  width: 100%; /* Prend toute la largeur du conteneur */
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #f6a9a9;
}

.search-icon {
  font-size: 28px; /* Taille de l'icône ajustée */
  color: #73777f; /* Couleur de l'icône */
  margin: 10px 10px 20px;
  cursor: pointer; /* Ajoute un curseur en forme de main pour indiquer que l'icône est cliquable */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.suggestions-container {
  position: absolute;
  top: 50px;
  left: 0; /* Assure que la liste commence au même endroit que l'input */
  width: 100%; /* La largeur doit correspondre à celle de l'input */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  border-radius: 5px; /* Ajout d'un arrondi pour les coins de la liste */
}

.suggestions-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestion-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.city-flag {
  margin-right: 10px;
  font-size: 20px;
}

.city-name {
  font-weight: bold;
  flex-grow: 1;
}

.additional-info {
  font-size: 0.9rem;
  color: #555;
}

.search-container {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}