/* --- Modal --- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fond sombre */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Assure que le modal est au-dessus des autres éléments */
}

.modal-content {
  background-color: #ffffff;
  padding: 20px 40px;
  border-radius: 0; /* Coins carrés */
  text-align: center;
  width: 90%;
  max-width: 400px;
  z-index: 15; /* Priorité encore plus élevée que le conteneur de l'overlay */
}

.modal-content h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.modal-content button {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: white;
  background-color: #a6c9ff; /* Bleu clair pour correspondre à la navbar */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #42a5f5; /* Légère variation de bleu au survol */
}

.close-btn {
  background-color: #ff7043; /* Rouge plus doux pour fermer */
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #ff5722; /* Variation de rouge au survol */
}

.logout-btn {
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #42a5f5; /* Légère variation de bleu au survol */
}


/* Suppression de l'animation de mouvement */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
