/* --- Navbar --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #f7abab, #9dc3fc); /* Dégradé du rouge clair au bleu clair, similaire à celui du home-container */
  padding: 15px 30px; /* Plus d'espace autour */
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Ajouter un espace entre MétéoShield et le bord gauche */
  margin-right: 50px; /* Ajout d'un espacement pour augmenter la distance entre MétéoShield et les autres liens */
}

.navbar-links {
  display: flex;
  gap: 30px; /* Espacement plus large pour une meilleure lisibilité */
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  padding: 5px 0; /* Ajout d'un espacement vertical pour la séparation */
  border-bottom: 2px solid transparent; /* Séparation entre les liens */
}

.nav-link:hover {
  color: #ffeb3b; /* Jaune légèrement plus doux pour l'effet hover */
  border-bottom: 2px solid #ffeb3b; /* Ajout de la séparation sous le lien au hover */
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px; /* Espacement plus petit entre le bouton Menu et les liens */
}

.menu-btn {
  background-color: white;
  color: #c62828; /* Rouge plus sombre pour le bouton */
  border: none;
  font-size: 1.5rem; /* Taille du texte plus grande */
  padding: 10px 20px; /* Taille adaptée au texte */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.menu-btn:hover {
  background-color: #c62828;
  color: white;
}
