/* --- Navbar --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #f7abab, #9dc3fc); /* Dégradé du rouge clair au bleu clair */
  padding: 15px 30px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 50px;
}

.refresh-btn {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s, transform 0.3s;
}

.refresh-btn:hover {
  color: #ffeb3b;
  transform: rotate(360deg); /* Animation de rotation au hover */
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: #ffeb3b;
  border-bottom: 2px solid #ffeb3b;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-btn {
  background-color: white;
  color: #726262;
  border: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.menu-btn:hover {
  background-color: #f6a9a9;
  color: white;
}

.nav-username {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px 20px;
  border-radius: 15px;
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
  width: auto;
  min-width: 150px;
  height: 50px;
}

.nav-username:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}
