/* searchBar.css */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
  }
  
  .search-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .search-input {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #a6c9ff;
    border-radius: 5px;
    outline: none;
    width: 100%;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #f6a9a9;
  }
  
  .search-icon {
    font-size: 28px;
    color: #73777f;
    margin: 10px 10px 20px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  
  .suggestions-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    border-radius: 5px;
  }
  
  .suggestions-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestion-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  
  .city-flag {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .city-name {
    font-weight: bold;
    flex-grow: 1;
  }
  
  .additional-info {
    font-size: 0.9rem;
    color: #555;
  }
  