.signup-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: linear-gradient(to bottom, #ffcccc, #a6c9ff);
  }
  
  .signup-container h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .signup-input:focus {
    border-color: #f6a9a9; /* Effet similaire à Home.js */
    outline: none; /* Supprimer le contour par défaut */
  }
    
  .save-button {
    width: 100%;
    padding: 12px 24px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .save-button:hover {
    background-color: #0033aa;
  }

  button .login-container{
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #2196f3, #e53935); /* Dégradé de bleu à rouge */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
  .home-btn {
    background: linear-gradient(135deg, #3ba0f3, #dd6462); /* Dégradé bleu-rouge */
    color: rgb(245, 245, 245);
    font-size: 1.2rem;
    padding: 12px 24px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centrer le bouton horizontalement */
  }
  