/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .weather-container{
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .weather-container p {
    margin-top: 10px;
  }
  
  input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  
  .loading, .error {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .loading {
    background-color: #ffecb3;
    color: #8a6d3b;
  }
  
  .error {
    background-color: #f2dede;
    color: #a94442;
  }
  
  .weather-info {
    text-align: center;
  }
  
  .weather-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .temperature {
    font-size: 30px;
    font-weight: bold;
  }
  
  img {
    margin-top: 10px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(25px);
  }
  
  .current-weather-icon {
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }  