.windspeed-info {
    background-color: #e0f0fa; /* Couleur bleu clair pour le vent */
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #333; /* Couleur du texte */
  }
  
  .windspeed-info p {
    margin: 0;
    font-weight: bold;
  }
  